<h2>Gestión Afiliado</h2>
<hr>
<ul class="list-group">
  <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class=list-group-item>Crear afiliado</li>
  <li routerLink="edit" routerLinkActive="active" class=list-group-item>Editar Afiliado</li>
  <li routerLink="afiliado/:id" routerLinkActive="active" class=list-group-item>Ver Afiliado</li>
  <li routerLink="report" routerLinkActive="active" class=list-group-item>Reporte</li>
  <li routerLink="reportdapper" routerLinkActive="active" class=list-group-item>Reporte Dapper</li>
</ul>
